/* ปุ่มย้อนกลับไปหน้า Home */
.btn-back-home {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  z-index: 1001;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s;
}

.btn-back-home:hover {
  background-color: rgba(134, 134, 134, 0.7); /* สีพื้นหลังเข้มขึ้นเมื่อโฮเวอร์ */
  text-decoration: none;
  color: white;
}
body {
  background-color: #000;
  color: white;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: chartreuse;
  font-size: 5vw;
  background: black;
  font-family: 'digital-7regular';
  border-radius: 5px;
}

h2 {
  color: rgb(253, 253, 253);
  font-size: 3vw;
  padding: 1vw;
}

#scare {
  color: red;
  font-size: 4vw
}

#set {
  color: chartreuse;
  font-size: 5vw;
  background: black;
  font-family: 'digital-7regular';
  border-radius: 5px;
}

#roundCorners, #roundCorners2 {
border-radius: 25px;
padding: 1vw;
width: 30vw;
height: 25vw;
background: black;
font-size: 15vw;
display: flex;
align-items: center;
justify-content: center;
font-family: 'digital-7regular';
}


.btn1,.btn2 {
  font-size: 2vw;
  font-weight: bold;
  width: 100%;
}

.scoreboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 5px;
  padding: 2vw;
  box-sizing: border-box;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 2vw;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
}

.scoreboard .team-section,
.scoreboard .set-section {
  text-align: center;
  flex: 1;
  margin: 0 1vw;
}

.scoreboard .team-section button,
.scoreboard .set-section button {
  margin-bottom: 2vw;
  padding: 1vw 2vw;
  width: auto;
  font-size: 2vw;
  border-radius: 10px;
}

.scoreboard .btn {
  font-size: 2.5vw;
  padding: 1vw 2vw;
  margin: 0.5vw;
  width: auto;
  border-radius: 10px;
}

#refresh {
  margin-top: 0.5vw;
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-width: 640px) and (orientation: landscape) {
h1 {
  font-size: 7vw;
}

h2 {
  font-size: 5vw;
}

#roundCorners, #roundCorners2 {
  width: 40vw;
  height: 30vw;
  font-size: 30vw;
}

.btn1, .btn2 {
  font-size: 5vw;
}

.scoreboard {
  width: 100%;
}
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-width: 768px) and (max-width: 1024px) {
h1 {
  font-size: 6vw;
}

h2 {
  font-size: 4vw;
}

#roundCorners, #roundCorners2 {
  width: 35vw;
  height: 25vw;
  font-size: 30vw;
}

.btn1, .btn2 {
  font-size: 4vw;
}

.scoreboard {
  width: 100%;
}
}

/* #### Larger Screens (Desktops) #### */
@media screen and (min-width: 1025px) {
h1 {
  font-size: 5vw;
}

h2 {
  font-size: 3vw;
}

#roundCorners, #roundCorners2 {
  width: 30vw;
  height: 20vw;
  font-size: 30vw;
}

.btn1, .btn2 {
  font-size: 3vw;
}

.scoreboard {
  width: 100%;
  max-width: 1980px;
}
}