h1 {
    color:chartreuse;
    font-size: 100px;
    background: black;
    font-family: 'digital-7regular';
    border-radius: 5px;

  }
h2 {
    color: rgb(253, 253, 253);
    font-size: 50px;
    padding: 20px;

  }

#scare {
    color: red;
    font-size: 80px;
  }

#roundCorners {
    border-radius: 25px;
    padding: 20px;
    width: 500px;
    height: 390px;
    background: black;
    font-size: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'digital-7regular';

  }

#roundCorners2 {
    border-radius: 25px;
    padding: 20px;
    width: 500px;
    height: 390px;
    background: black;
    font-size: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'digital-7regular';

  }

.container{
    background: rgb(5, 4, 4);
  
    align-items: center;
    justify-content: center;
    padding: 20px;

    border-radius: 5px;
    border: 2px solid #c6c6c6;
    box-shadow: 2px 2px 8px rgb(8, 0, 0);
  }

  .btn1 {
    font-size: 40px;
    font-weight: bold;
  }
  .btn2 {
    font-size: 40px;
    font-weight: bold;
  }

  